header.header
	img.header__logo(src="images/logo_nikola.png", alt="Храм святителя Николая")
nav.menu.page__menu
	div.container.menu__container
		ul.list.menu__list
			-
				var menu = [
				{ name:'Летопись храма', hidden:['Основание Храма', 'Современность Храма', { name:'Настоятели Храма', link:'abbots.html'}, 'Фотоархив', 'Видеоархив', 'Аудиоархив']},
				{ name:'Новости', link: 'news.html'},
				{ name:'Проповедь', hidden: [{ name:'Проповедь Патриарха', link:'preaching.html'}, 'Проповедь Митрополита', 'Проповедь Священника', 'Проповедь Настоятеля']},
				{ name:'Библиотека', hidden: ['Библия', 'Богословие', 'Статьи', 'Жития святых', 'Художественная классика', 'Иконопись']},
				{ name:'Прихожанину', hidden: ['Святыни и иконы', 'Расписание богослужений', 'Предстоящие события', 'Тюремное служение',
				'Социальное служение', 'Молодежное служение', 'Катехизация', 'Часто задаваемые вопросы', 'Православный календарь']},
				{ name:'Воскресная школа', hidden: ['О Воскресной школе', 'Новости школы', 'Фото и видео']},
				{ name:'Контакты', link: 'contacts.html'}]
			li.menu__list-item
				button.button.menu__close
					svg.menu__icon
						use(xlink:href="images/sprite.svg#icon-close")
			for elem in menu
				li.menu__list-item
					if elem.hidden
						span.menu__link #{elem.name}
						ul.list.menu__list-hidden
							for elem1 in elem.hidden
								li.menu__list-hidden-item
								if elem1.name
									a.link.menu__hidden-link(href=elem1.link) #{elem1.name}
								else
									a.link.menu__hidden-link(href="#") #{elem1}
						svg.menu__icon.menu__icon-accordion
							use(xlink:href="images/sprite.svg#icon-arrow-point-to-down")
					else
						if elem.link
							a.menu__link(href=elem.link) #{elem.name}
						else
							a.menu__link(href="#") #{elem.name}
		div.menu__buttons
			button.button.menu__search-button
				svg.menu__icon
					use(xlink:href="images/sprite.svg#icon-search")
			button.button.menu__switch
				svg.menu__icon
					use(xlink:href="images/sprite.svg#icon-menu")
		form.menu__search(action="#", name="search")
			label.field.field--hidden.menu__search-field
				span.field__hint Поиск
				input.field__input.menu__search-input(name="search", placeholder="Поиск по сайту..." required)
			button.button.button--small.button--blue.menu__search-submit Искать
