extends layout/layout

block title
	title Новости

block content
	-
		var breadcrumbs = [{name: 'Главная', flag: 1}, {name: 'Новости', flag: 0}]
		var news = [
		{
		date: '28 января 2018 г.',
		date_1: "2018-01-28",
		title: 'Иерей Сергий Беляков принял участие в спортивном празднике «Зимушка-зима»',
		description: 'В воскресенье, 28 января 2018 года, ' +
		'в Пензенском Центральном парке культуры и отдыха имени В.Г.' +
		'Белинского состоялся большой спортивный праздник «Зимушка-зима».',
		img: 1,
		alt1: "Люди на празднике"
		},
		{
		date: '27 января 2018 г.',
		date_1: "2018-01-27",
		title: 'Протоиерей Александр Филиппов совершил водосвятный молебен с акафистом Божией Матери перед ее чудотворным образом "Неупиваемая чаша".',
		description: 'В субботу 27 января 2018 года, по завершении Божественной Литургии, настоятель нашего храма протоиерей Александр Филиппов совершил водосвятный молебен с акафистом Божией Матери перед ее чудотворным образом "Неупиваемая чаша".',
		img: 2,
		alt1: "Священники перед чашей"
		},
		{
		date: '16 февраля 2018 г.',
		date_1: "2018-02-16",
		title: 'Протоиерей Антоний Шварев принял участие в круглом столе «Проблемы духовного окормления осужденных и лиц, содержащихся под стражей в учреждениях УИС».',
		description: 'Руководство УФСИН России по Пензенской области в режиме видеоконференцсвязи приняло участие в совещании по вопросам взаимодействия уголовно-исполнительной системы с традиционными религиозными концессиями, которое состоялось в Федеральной службе исполнения наказаний и транслировалось из Москвы во все территориальные органы УИС.',
		img: 3,
		alt1: "Совещание"
		},
		{
		date: '27 января 2018 г.',
		date_1: "2018-01-27",
		title: 'Священник нашего храма посетил приходское общество трезвости.',
		description: 'В Петропавловском храме города Пензы существует приходское общество трезвости, которым руководит протоиерей Алексий Горшков. Он имеет личный опыт трезвой жизни и к нему иногда обращаются за консультацией священнослужители нашей епархии. На этот раз к нему обратился клирик нашего храма иерей Сергий Беляков.',
		img: 4,
		alt1: "Люди на празднике"
		},
		{
		date: '28 января 2018 г.',
		date_1: "2018-01-28",
		title: 'Иерей Сергий Беляков принял участие в спортивном празднике «Зимушка-зима»',
		description: 'В воскресенье, 28 января 2018 года, ' +
		'в Пензенском Центральном парке культуры и отдыха имени В.Г.' +
		'Белинского состоялся большой спортивный праздник «Зимушка-зима».',
		img: 4,
		alt1: "Люди на празднике"
		},
		{
		date: '27 января 2018 г.',
		date_1: "2018-01-27",
		title: 'Протоиерей Александр Филиппов совершил водосвятный молебен с акафистом Божией Матери перед ее чудотворным образом "Неупиваемая чаша".',
		description: 'В субботу 27 января 2018 года, по завершении Божественной Литургии, настоятель нашего храма протоиерей Александр Филиппов совершил водосвятный молебен с акафистом Божией Матери перед ее чудотворным образом "Неупиваемая чаша".',
		img: 5,
		alt1: "Священники перед чашей"
		},
		{
		date: '16 февраля 2018 г.',
		date_1: "2018-02-16",
		title: 'Протоиерей Антоний Шварев принял участие в круглом столе «Проблемы духовного окормления осужденных и лиц, содержащихся под стражей в учреждениях УИС».',
		description: 'Руководство УФСИН России по Пензенской области в режиме видеоконференцсвязи приняло участие в совещании по вопросам взаимодействия уголовно-исполнительной системы с традиционными религиозными концессиями, которое состоялось в Федеральной службе исполнения наказаний и транслировалось из Москвы во все территориальные органы УИС.',
		img: 6,
		alt1: "Совещание"
		}
		]
		var pagination = [{number: '1', flag: 0}, {number: '2', flag: 1}, {number: '3', flag: 1}, {number: '4', flag: 1}, {number: '5', flag: 1}, {number: '6', flag: 1}, {number: '...', flag: 1}, {number: '10', flag: 1}]
	nav.breadcrumbs
		ul.list.breadcrumbs__list
			for elem in breadcrumbs
				li.breadcrumbs__list-item
					if elem.flag === 1
						a.breadcrumbs__link(href="#") #{elem.name}
					else
						span.breadcrumbs__link-active #{elem.name}
	div.page__inner
		main.main
			section.last-news
				h2.title.title--m.title--line.last-news__title Последние новости
				div.last-news__tabs
					span.last-news__tab.last-news__active-tab новости храма
					a.link.last-news__tab(href="#") новости епархии
					a.link.last-news__tab(href="#") новости патриархии
					a.link.last-news__tab(href="#") сми о нас
				div.last-news__group
					for elem in news
						article.last-news__post
							wrapper.last-news__post-wrapper
								div.last-news__imgbox
									img.last-news__img(src="images/delete/news-" + elem.img + ".jpg", alt=elem.alt1)
								div.last-news__inner
									time.last-news__date(datetime=elem.date_1) #{elem.date}
									h3.title.title--s.last-news__title
										a.last-news__link(href="#") #{elem.title}
									div.last-news__description
										p #{elem.description}
				nav.pagination
					ul.list.pagination__list
						for elem in pagination
							li.pagination__list-item
								if elem.flag === 1
									a.link.pagination__link(href="#") #{elem.number}
								else
									span.pagination__link-active #{elem.number}
		include layout/sidebar
