extends layout/layout

block title
	title Новости

block content
	-
		var breadcrumbs = [{name: 'Главная', flag: 1, link: "index.html"}, {name: 'Новости', flag: 0}]
		var news = [
		{
		date: '28 января 2018 г.',
		date_1: "2018-01-28",
		title: 'Иерей Сергий Беляков принял участие в спортивном празднике «Зимушка-зима»',
		description: 'В воскресенье, 28 января 2018 года, ' +
		'в Пензенском Центральном парке культуры и отдыха имени В.Г.' +
		'Белинского состоялся большой спортивный праздник «Зимушка-зима».',
		img: 1,
		alt1: "Люди на празднике"
		},
		{
		date: '27 января 2018 г.',
		date_1: "2018-01-27",
		title: 'Протоиерей Александр Филиппов совершил водосвятный молебен с акафистом Божией Матери перед ее чудотворным образом "Неупиваемая чаша".',
		description: 'В субботу 27 января 2018 года, по завершении Божественной Литургии, настоятель нашего храма протоиерей Александр Филиппов совершил водосвятный молебен с акафистом Божией Матери перед ее чудотворным образом "Неупиваемая чаша".',
		img: 2,
		alt1: "Священники перед чашей"
		},
		{
		date: '16 февраля 2018 г.',
		date_1: "2018-02-16",
		title: 'Протоиерей Антоний Шварев принял участие в круглом столе «Проблемы духовного окормления осужденных и лиц, содержащихся под стражей в учреждениях УИС».',
		description: 'Руководство УФСИН России по Пензенской области в режиме видеоконференцсвязи приняло участие в совещании по вопросам взаимодействия уголовно-исполнительной системы с традиционными религиозными концессиями, которое состоялось в Федеральной службе исполнения наказаний и транслировалось из Москвы во все территориальные органы УИС.',
		img: 3,
		alt1: "Совещание"
		},
		{
		date: '27 января 2018 г.',
		date_1: "2018-01-27",
		title: 'Священник нашего храма посетил приходское общество трезвости.',
		description: 'В Петропавловском храме города Пензы существует приходское общество трезвости, которым руководит протоиерей Алексий Горшков. Он имеет личный опыт трезвой жизни и к нему иногда обращаются за консультацией священнослужители нашей епархии. На этот раз к нему обратился клирик нашего храма иерей Сергий Беляков.',
		img: 4,
		alt1: "Люди на празднике"
		},
		{
		date: '28 января 2018 г.',
		date_1: "2018-01-28",
		title: 'Иерей Сергий Беляков принял участие в спортивном празднике «Зимушка-зима»',
		description: 'В воскресенье, 28 января 2018 года, ' +
		'в Пензенском Центральном парке культуры и отдыха имени В.Г.' +
		'Белинского состоялся большой спортивный праздник «Зимушка-зима».',
		img: 4,
		alt1: "Люди на празднике"
		},
		{
		date: '27 января 2018 г.',
		date_1: "2018-01-27",
		title: 'Протоиерей Александр Филиппов совершил водосвятный молебен с акафистом Божией Матери перед ее чудотворным образом "Неупиваемая чаша".',
		description: 'В субботу 27 января 2018 года, по завершении Божественной Литургии, настоятель нашего храма протоиерей Александр Филиппов совершил водосвятный молебен с акафистом Божией Матери перед ее чудотворным образом "Неупиваемая чаша".',
		img: 5,
		alt1: "Священники перед чашей"
		},
		{
		date: '16 февраля 2018 г.',
		date_1: "2018-02-16",
		title: 'Протоиерей Антоний Шварев принял участие в круглом столе «Проблемы духовного окормления осужденных и лиц, содержащихся под стражей в учреждениях УИС».',
		description: 'Руководство УФСИН России по Пензенской области в режиме видеоконференцсвязи приняло участие в совещании по вопросам взаимодействия уголовно-исполнительной системы с традиционными религиозными концессиями, которое состоялось в Федеральной службе исполнения наказаний и транслировалось из Москвы во все территориальные органы УИС.',
		img: 6,
		alt1: "Совещание"
		}
		]
	include layout/breadcrumbs
	div.container.page__inner
		main.page__main
			h1.title.title--m.title--line.page__title Последние новости
			div.page__content
				div.tabs
					span.tab.tab--active новости храма
					a.link.tab(href="#") новости епархии
					a.link.tab(href="#") новости патриархии
					a.link.tab(href="#") сми о нас
				div.page__groups
					for elem in news
						article.post.page__group
							div.post__wrapper
								div.post__imgbox.post__imgbox--small
									img.post__img(src="images/delete/news-" + elem.img + ".jpg", alt=elem.alt1)
								div.post__inner
									time.post__date(datetime=elem.date_1) #{elem.date}
									h3.title.title--s.post__title
										a.post__link(href="post__news.html") #{elem.title}
									div.post__description
										p #{elem.description}
				include layout/pagination
		include layout/sidebar
